[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
apache-airflow = "*"
pymongo = "*"
configparser = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
